body {
  margin: 0;

  background-color: white;

  font-family: "Bahnschrift", sans-serif;

  text-align: center;
}

/* STRETCHED EFFECT */
.stretched-text {
  display: block;

  transform: scaleY(4);
}

/* TITLE */
h1 {
  font-size: 150px;

  font-weight: 800;

  margin-top: 120px;	

  margin-bottom: 40px;
}


h2,
h3,
h4,
h5,
h6,
h7,
h8,
h9,
h10 {

  font-size: 50px;

  font-weight: 700;

  margin-top: 0;
}